/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: aqua;
  }
  
  .container {

    background-color: antiquewhite;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* Form styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Table styles */
  .table {
    margin-top: 30px;
  }
  